{% extends "base.html" %}
{% block title %}Registration – LOTUS Conference{% endblock %}
{% block content %}

<section class="bg-white rounded-4 shadow p-5 mb-5">
  <h2 class="fw-bold text-success mb-4 text-center">Registration</h2>
  <div class="d-flex flex-wrap justify-content-center gap-3 mb-4">
    <a href="https://docs.google.com/forms/d/1vqd0MEkDaiVZ51QMJowAvaJk0GMImJdmOoKOqJSvZyY/edit" class="btn btn-lg btn-success">Participants Registration</a>
    <a href="https://docs.google.com/forms/d/1ILg1616xEHu6fMw0UTlKxvIowcdRvFvAEzHDnwA4z2A/edit" class="btn btn-lg btn-primary">Presenter Registration</a>
    <a href="https://docs.google.com/forms/d/1Zj9YKLuWn8tt3yV7o_-BEg7xXGEUAA_gjuGIVq1IeWw/edit" class="btn btn-lg btn-warning text-dark">Abstract Submission</a>
  </div>
  <div class="text-center">
    <h5 class="fw-bold mb-2">Your conference registration will include:</h5>
    <ul class="list-unstyled d-inline-block text-start">
      <li>• E‑Certificate</li>
      <li>• Proceeding for Paper and Abstract Submission</li>
      <li>• SKP for Bali Tourism Institute Students</li>
    </ul>
  </div>
</section>

{% endblock %}